html, body, #root {
  height: 100%;
}

.app-container {
  height: 100%;
}

.search-container {
  display: flex;
  flex-direction:column;
  width: 80%;
  margin: 0 auto;
}

.search-container {
  display:flex;
  align-items: center;
  justify-content: center;
  min-height:100%
}

.search-bar-container {
  text-align: center;
  width:100%;
  background-color: white;
  position:sticky;
  top:0;
}

.search-bar-container-fixed {
  position:sticky;
  top:0;
}

.search-bar-container input {
  height:40px;
  width: 650px;
  margin: 10px 0;
  padding:0;
  max-width:100%;
}

.search-bar-container span {
  display:block;
  margin-top:5px;
}

.result-list-container {
  display:block;
}

.result-list {
  padding:0;
}

.result-list-container ul {
  margin: 0;
  max-height:100%;
}

.result-list-item {
  background-color: #EAEAEA;
  margin:10px;
  list-style-type: none;
  min-height:80px;
  max-width:100%;
}

.result-list-item a {
  color: #0645ad;
  text-decoration: none;
}

.result-list-item div {
  padding:10px;
}

.get-random-entry a {
text-decoration:none;
}

.get-random-entry a:hover {
  text-decoration: underline;
}